<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta charset="ISO-8859-1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ecommerce</title>
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="/styles/home.css" />
    <link rel="stylesheet" href="/styles/gerant.css" />
    <link rel="stylesheet" href="/styles/shared.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="//fonts.googleapis.com/css?family=Josefin+Sans"
    />
    <style>
      body {
        font-family: "Josefin Sans";
      }
    </style>
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div class="nav-small-screen">
      <!-- ======= Navbar ======= -->
      <%- include("../components/navGerant") %>
      <!-- ======= End navbar ======= -->
    </div>
    <div id="viewport">
      <!-- ======= Navbar ======= -->
      <%- include("../components/sidebar") %>
      <!-- ======= End navbar ======= -->
      <!-- Content -->
      <div id="content">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/">L'atelier de la Mode</a></li>
            </ul>
          </div>
        </nav>
        <div class="container-fluid">
          <!-- ======= Commend En Attente =======   -->

          <% if (accessoires.length> 0) { %>
          <div class="table-responsive">
            <table class="table caption-top">
              <caption>
                <button class="add-button" 
                data-toggle="modal"
                data-target="#add-accessoire-modal"  >
                + Ajouter accessoires 
              </button>         
              </caption>
              <thead>
                <tr>
                  <th scope="col">
                    <div style="display: flex; align-items: center">
                      <i
                        style="
                          margin-right: 15px;
                          color: #6d6de6;
                          font-size: 12px;
                        "
                        class="bi bi-list-nested"
                      ></i
                      >Accessoire
                    </div>
                  </th>

                  <th scope="col">
                    <div style="display: flex; align-items: center">
                      <i
                        style="
                          margin-right: 15px;
                          color: #56e164;
                          font-size: 12px;
                        "
                        class="bi bi-border-style"
                      ></i
                      >Marque
                    </div>
                  </th>

                  <th scope="col">
                    <div style="display: flex; align-items: center">
                      <i
                        style="
                          margin-right: 15px;
                          color: #56e164;
                          font-size: 12px;
                        "
                        class="bi bi-3-square"
                      ></i
                      >Quantite
                    </div>
                  </th>
                  <th scope="col">
                    <div style="display: flex; align-items: center">
                      <i
                        style="
                          margin-right: 15px;
                          color: #56e164;
                          font-size: 12px;
                        "
                        class="bi bi-currency-exchange"
                      ></i
                      >Prix
                    </div>
                  </th>
                  <th scope="col">
                    <div style="display: flex; align-items: center">
                      <i
                        style="
                          margin-right: 15px;
                          color: #6d6de6;
                          font-size: 12px;
                        "
                        class="bi bi-pencil-square"
                      ></i
                      >Modifier
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <% for (let i = 0 ; i < accessoires.length ; i++) {%>

                <tr>
                  <th><%= accessoires[i].type %></th>
                  <td><%= accessoires[i].marque %></td>
                  <td><%= accessoires[i].quantite %></td>
                  <td>
                    $ <%= accessoires[i].prix.toLocaleString('en-US', {
                    minimumFractionDigits: 2 }) %>
                  </td>
                  <td
                    class="openModal-accessoire"
                    data-toggle="modal"
                    data-accessoire="<%= JSON.stringify(accessoires[i]) %>"
                    data-target="#accessoire-modal"
                  >
                    <i
                      style="color: #2d2d2d; font-size: 12px"
                      class="bi bi-pencil-square"
                    ></i>
                  </td>
                </tr>

                <% } %>
              </tbody>
            </table>
          </div>

          <% } else { %>
          <div class="bag-empty">
            <i class="bi bi-bag"></i>
            <h1>Sac des accessoires est vide</h1>
            <p>en attendant que vous ajouter des nouvaux accessoire :)</p>
          </div>
          <%} %>
          <!-- ======= End Bag ======= -->
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div
      class="modal fade"
      id="accessoire-modal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">
              Edit Accessoire
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="/gerant/accessoires" method="post">
            <div class="modal-body edit-container">
              <input type="hidden" name="id" />
              <div class="input-container">
                <label>Type : </label>
                <input
                  value=""
                  class="info"
                  type="text"
                  name="type"
                  placeholder="Type"
                />
                <i class="bi bi-caret-down icon-input"></i>
              </div>
              <div class="input-container">
                <label>Marque : </label>
                <input
                  value=""
                  class="info"
                  type="text"
                  name="mark"
                  placeholder="Marque"
                />
                <i class="bi bi-caret-down icon-input"></i>
              </div>
              <div class="input-container">
                <label>Quantite : </label>
                <input
                  value=""
                  class="info"
                  type="text"
                  name="qty"
                  placeholder="Quantite"
                />
                <i class="bi bi-caret-down icon-input"></i>
              </div>
              <div class="input-container">
                <label>Prix : </label>
                <input
                  value=""
                  class="info"
                  type="number"
                  name="price"
                  placeholder="Prix"
                />
                <i class="bi bi-caret-down icon-input"></i>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-secondary">
                Sauvgarder
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div
      class="modal fade"
      id="accessoire-modal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">
              Edit Accessoire
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="/gerant/accessoires" method="post">
            <div class="modal-body edit-container">
              <input type="hidden" name="id" />
              <div class="input-container">
                <label>Type : </label>
                <input
                  value=""
                  class="info"
                  type="text"
                  name="type"
                  placeholder="Type"
                />
                <i class="bi bi-caret-down icon-input"></i>
              </div>
              <div class="input-container">
                <label>Marque : </label>
                <input
                  value=""
                  class="info"
                  type="text"
                  name="mark"
                  placeholder="Marque"
                />
                <i class="bi bi-caret-down icon-input"></i>
              </div>
              <div class="input-container">
                <label>Quantite : </label>
                <input
                  value=""
                  class="info"
                  type="text"
                  name="qty"
                  placeholder="Quantite"
                />
                <i class="bi bi-caret-down icon-input"></i>
              </div>
              <div class="input-container">
                <label>Prix : </label>
                <input
                  value=""
                  class="info"
                  type="number"
                  name="price"
                  placeholder="Prix"
                />
                <i class="bi bi-caret-down icon-input"></i>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-secondary">
                Sauvgarder
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div
      class="modal fade"
      id="add-accessoire-modal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">
              Ajouter Accessoire
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="/gerant/accessoire" method="post"  enctype="multipart/form-data">
            <div class="modal-body edit-container">
              <input type="hidden" name="id" /> 
              <div class="input-container">
                <label>Photo : </label>
                <input
                  class="info"
                  type="file"
                  name="picture"
                  placeholder="Photo"
                />
                <i class="bi bi-caret-down icon-input"></i>
              </div>
              <div class="input-container">
                <label>Type : </label>
                <input
                  value=""
                  class="info"
                  type="text"
                  name="type"
                  placeholder="Type"
                />
                <i class="bi bi-caret-down icon-input"></i>
              </div>
              <div class="input-container">
                <label>Marque : </label>
                <input
                  value=""
                  class="info"
                  type="text"
                  name="mark"
                  placeholder="Marque"
                />
                <i class="bi bi-caret-down icon-input"></i>
              </div>
              <div class="input-container">
                <label>Quantite : </label>
                <input
                  value=""
                  class="info"
                  type="text"
                  name="qty"
                  placeholder="Quantite"
                />
                <i class="bi bi-caret-down icon-input"></i>
              </div>
              <div class="input-container">
                <label>Prix : </label>
                <input
                  value=""
                  class="info"
                  type="number"
                  name="price"
                  placeholder="Prix"
                />
                <i class="bi bi-caret-down icon-input"></i>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-secondary">
                Ajouter
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="/script/commande.js"></script>
  </body>
</html>
