<div class="card" style="width: 18rem;">
        <a href="produit/details/<%= data.id %>" >
            <div class="card-image"  style="overflow: hidden;">
            <img class="" src="<%= data.picture %>" style="object-fit: cover;" />
            </div>
            <div class="box">
                <div style="display: flex;justify-content: space-between;">
                    <h4><%= data.nom %></h4>
                    <h4>$ <%= data.prix.toLocaleString('en-US', { minimumFractionDigits: 2 }) %></h4>
                </div>
                <p>
                    <%= data.marque %> | <%= data.style %>
                </p>
                <span style="font-size: 16;">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <span class="note"> <%= data.rang %></span>
                </span>
                <p class="details" >Afficher les details</p>
        </div>
    </a>
</div>