<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta charset="ISO-8859-1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ecommerce</title>
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="/styles/home.css" />
    <link rel="stylesheet" href="/styles/details.css" />
    <link rel="stylesheet" href="/styles/shared.css" />
    <link rel="stylesheet" href="/styles/allProduct.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="//fonts.googleapis.com/css?family=Josefin+Sans"
    />
    <style>
      body {
        font-family: "Josefin Sans";
      }
    </style>
  </head>

  <body>
    <!-- ======= Navbar ======= -->
      <%- include("components/nav",{types : types }) %>
    <!-- ======= End navbar ======= -->

    <!-- ======= title Section ======= -->
    <div class="section-title">
      <h1 class="title">
        Accessoire
      </h1>
    </div>
    <!-- ======= End title Section ======= -->

    <!-- ======= filter Brands ======= -->
    <div class="filterContainer">
      <select
        class="form-select mt-2"
        name="sort"
        required
        aria-label="Default select example"
        id="sort"
      >
        <option disabled selected value="date">Quoi de neuf</option>
        <option value="prix">Prix bas à haut</option>
        <option value="prix">Prix élevé à bas</option>
        <option value="rang">rang</option>
        <option value="adore">adore</option>

      </select>

      <select
      class="form-select mt-2"
      name="mark"
      id="mark"
      required
      aria-label="Default select example"
    >
      <option selected value="S">Tous Marques</option>
      <% marks.map((mark) => { %>
        <option value="<%= mark.marque %>"><%= mark.marque %></option>
     <% }) %>

    </select>
    </div>

    <!-- ======= End filter Brands ======= -->
    <div class="gallery">
      <div class="gallery-items">
        <% for (let i = 0 ; i <  accessoire.length  ; i++) { %>
        <div data-product="<%= JSON.stringify(accessoire[i]) %>" class="product">
          <div class="gallery-item">
            <div class="mark">
              <%= accessoire[i].marque %>
            </div> 
              <img
                class=""
                src="<%= accessoire[i].picture %>"
                alt=""
                class="img-fluid"
              />
            <a href="/bag/accessoire/<%= accessoire[i].id %>"><div class="iconContainer">+</div></a>
          </div>
          <h2><%= accessoire[i].type %></h2>
          <h1>$ <%= accessoire[i].prix.toLocaleString('en-US', { minimumFractionDigits: 2 }) %></h1>
        </div>
        <% } %>
      </div>
    </div>

    
    <!-- ======= Footer ======= -->
    <%- include('components/footer') %>
    <!-- ======= End Footer ======= -->

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="/script/allProduct.js" ></script>
  </body>
</html>
