<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta charset="ISO-8859-1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ecommerce</title>
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="/styles/home.css" />
    <link rel="stylesheet" href="/styles/bag.css" />
    <link rel="stylesheet" href="/styles/shared.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="//fonts.googleapis.com/css?family=Josefin+Sans"
    />
    <style>
      body {
        font-family: "Josefin Sans";
      }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
  </head>

  <body>

      <!-- ======= Navbar ======= -->
        <%- include("components/navGerant",) %>
        <!-- ======= End navbar ======= -->



    <!-- ======= Bag =======   -->
    <div class="bag">
        <div class="products-bag">
            <% for (let i = 0 ; i < products.length ; i++) { %>
                
                <div class="item-product"> 
                    <img src="<%= products[i].picture %>" />
                    <div class="item-product-info">
                        <h1>$ <%=  products[i].prix.toLocaleString('en-US', { minimumFractionDigits: 2 })%></h1>
                    <h2><%= products[i].nom %></h2>
                    <div class="update">
                        <h4 ><%= products[i].qte %> Qte</h4>
                        <h4>Size <%= products[i].size %></h4>
                        <h4><%= products[i].color %></h4>
                    </div>
                    <div style="height:50px;width: 60px"></div>
                    </div>
                </div>
                <% for(let j = 0 ; j< accessoires.length;j++) { %>
                  <% if (accessoires[j].produit = products[i].produit) {%>
                  <div class="item-product"> 
                    <img src="<%=  accessoires[j].picture %>" />
                    <div class="item-product-info">
                        <h1>$ <%=  accessoires[j].prix.toLocaleString('en-US', { minimumFractionDigits: 2 }) %></h1>
                    <h2><%=  accessoires[j].type %></h2>
                    <div class="update">
                      <h4 ><%= accessoires[j].marque %></h4>
                      <h4><%= accessoires[j].qte %> Qte</h4>
                    </div>
                    <div style="height:50px;width: 60px;"></div>
                    </div>
                    
                </div>
                <% } } %>
            <%  } %>
            <% for (let i = 0 ; i < accessoires.length ; i++) { %>
              <% if (accessoires[i].produit = null) {%>
              <div class="item-product"> 
                <img src="<%= accessoiress[i].picture %>" />
                <div class="item-product-info">
                    <h1>$ <%= accessoires[i].prix.toLocaleString('en-US', { minimumFractionDigits: 2 }) %></h1>
                <h2><%= accessoires[i].type %></h2>
                <div class="update">
                  <h4 ><%= accessoires[j].marque %></h4>
                  <h4><%= accessoires[j].qte %> Qte</h4>
                </div>
                <div style="height:50px;width: 60px;"></div>
                </div>
            </div>
              <% } } %>

        </div>
        <form >
        <div class="info-bag">
            
            <h1>TOTAL</h1>
            <div class="sub-total">
                <h2>Sous-total</h2>
                <span>$ <%= user.prix.toLocaleString('en-US', { minimumFractionDigits: 2 }) %></span>
            </div>
            <div class="sub-total">
                <h2>Infomation de client</h2>
                <i class="bi bi-exclamation-circle"></i>
            </div>
            <div class="input-container">
                <input value="<%= user ? user.nom : "" %>" disabled  class="info" type="text" name="lastName" placeholder="Nom">
                <i class="bi bi-caret-down icon-input"></i>
            </div>
            <div class="input-container">
                <input value="<%= user ? user.prenom : "" %>" disabled   class="info" type="firstName" name="firstName" placeholder="Prénom">
                <i class="bi bi-caret-down icon-input"></i>
            </div>
            <div class="input-container">
                <input value="<%= user ? user.adresse : "" %>" disabled   class="info" type="address" name="address" placeholder="Adresse">
                <i class="bi bi-caret-down icon-input"></i>
            </div>
            <div class="input-container">
                <input value="<%= user ? user.email : "" %>" disabled   class="info" type="text" name="email" placeholder="Adresse e-mail">
                <i class="bi bi-caret-down icon-input"></i>
            </div>
            <div class="input-container">
                <input value="<%= user ? user.telephone : "" %>" disabled  class="info" type="text" name="phone" placeholder="N de portable">
                <i class="bi bi-caret-down icon-input"></i>
            </div>
            <div class="input-container">
                <input value='' disabled  class="info " id="livraison" type="date" name="date" placeholder="l’heure de livraison">
                <i class="bi bi-caret-down icon-input"></i>
            </div>            
        </div>
      </form>
    </div>


    <!-- ======= End Bag ======= -->



    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script>
  function formatDate(dateValue) {
    const date = new Date(dateValue);
    const year = date.getFullYear();
    const month = ('0' + (date.getMonth() + 1)).slice(-2);
    const day = ('0' + date.getDate()).slice(-2);
    return `${year}-${month}-${day}`;
  }
  document.getElementById('livraison').value = formatDate('<%= user.livraison %>');

    </script>
  </body>
</html>
