<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta charset="ISO-8859-1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ecommerce</title>
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="/styles/home.css" />
    <link rel="stylesheet" href="/styles/details.css" />
    <link rel="stylesheet" href="/styles/shared.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="//fonts.googleapis.com/css?family=Josefin+Sans"
    />
    <style>
      body {
        font-family: "Josefin Sans";
      }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
  </head>

  <body>
        <!-- ======= Navbar ======= -->
        <%- include("components/nav",{types}) %>
        <!-- ======= End navbar ======= -->


    <!-- ======= trending Brands ======= -->
    <div class="details">
            <div class=" details-left">
                <div style="position: relative;" class="details-img">
                        <div style="position : absolute;top : 20px ;left : 20px;z-index : 20">
                            <a href="">
                                <i style="color: #FFF;font-size : 36px" class="bi  bi-heart-fill"></i>
                            </a>    
                        </div>
 
                    <img src="<%= product.picture %>" />
                </div>

                

            </div>
            <form action="/bag/<%= product.id %>" method="post" class=" details-right">
                <div class="details-info">
                    <h1>
                        <%= product.nom %>
                    </h1>
                    <p><%= product.descr %></p>
                    <div class="rating">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <span >(<%= product.rang %>)</span>
                    </div>
                </div>
                <div class="details-info">
                    <div class="price">
                        <%= product.prix %>
                    </div>
                    <div class="reduction">
                        <div>
                             jusqua 30 % de réduction , Utiliser le code :  
                             <span>
                                CHANCE
                            </span> 
                        </div>
                        <i class="bi bi-lightbulb-fill"></i>
                    </div>
                </div>
                <div class="details-info">
                    <div id="test" class="price">
                        choisir une couleur
                    </div>
                    <input type="hidden" value="0" name="color" id="itemActive" />
                    <div class="colors">
                      <% product.items.map((item,index) => { %>
                        <div class="color <%= index == 0 ? "active" : '' %>">
                          <div class="color-top" style="background-color: <%= colors[item.color][0] %>"></div>
                          <div class="color-bottom" style="background-color: <%= colors[item.color][1] %>"></div>
                      </div>

                      <%}) %>

                    </div>
                </div>

                <div class="details-info">
                    <div class="price">
                        choisissez votre taille
                    </div>
                    <select  class="form-select mt-2" name="size" required  aria-label="Default select example">
                        <option id="S" selected <%= product.items[0].quantites == 0 ? "disabled" : "" %> value="S">S </option>
                        <option id="M" <%= product.items[0].quantitem == 0 ? "disabled" : "" %> value="M">M</option>
                        <option id="L" <%= product.items[0].quantitel == 0 ? "disabled" : "" %> value="L">L</option>
                        <option id="XL" <%= product.items[0].quantitexl == 0 ? "disabled" : "" %> value="XL">XL</option>
                        <option id="XXL" <%= product.items[0].quantitexxl == 0 ? "disabled" : "" %> value="XXL">XXL</option>
                    </select>
                    <button type="submit" class="buyButtoncontainer">
                        Ajouter au panier
                    </button>
                    </a>
                </div>

                    

              </form>
    </div>
    <!-- ======= End trending Brands ======= -->
    
    <!-- ======= Footer ======= -->
        <%- include('components/footer') %>
    <!-- ======= End Footer ======= -->


    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script>
      const product = <%- JSON.stringify(product) %>
  </script>
    <script src="/script/details.js"></script>
  </body>
</html>
