<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta charset="ISO-8859-1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ecommerce</title>
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="/styles/home.css" />
    <link rel="stylesheet" href="/styles/shared.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="//fonts.googleapis.com/css?family=Josefin+Sans"
    />
    <style>
      body {
        font-family: "Josefin Sans";
      }
    </style>
  </head>

  <body>
    <!-- ======= Navbar ======= -->
    <%- include("components/nav",{types}) %>
    <!-- ======= End navbar ======= -->
    <!-- ======= Hero Section ======= -->
    <section id="hero">
      <div class="hero-container">
        <div
          id="heroCarousel"
          data-bs-interval="5000"
          class="carousel slide carousel-fade"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner" role="listbox">
            <div
              class="carousel-item active"
              style="
                background-image: url('https://th.bing.com/th/id/R.3414ac9b5f23a7de6a4891b664115de7?rik=apq0nMDBDEUSJw&pid=ImgRaw&r=0');
              "
            >
              <div class="carousel-container">
                <div class="carousel-content">
                  <h2 class="animate__animated animate__fadeInDown">
                    <span>Des pantalons et Des vestes</span>
                  </h2>
                  <p class="animate__animated animate__fadeInUp">
                    vous pouvez choisir (pantalon avec ceinture, patalon avec
                    une ceinture ou des bretelles, etc.. et des vestes de
                    différents types (laine, cuir, jean, etc.)
                  </p>
                  <div>
                    <a
                      href=""
                      class="btn-menu animate__animated animate__fadeInUp scrollto"
                      >Consulter</a
                    >
                    <a
                      href=""
                      class="btn-book animate__animated animate__fadeInUp scrollto"
                      >Voir tous</a
                    >
                  </div>
                </div>
              </div>
            </div>

            <div
              class="carousel-item"
              style="
                background-image: url('https://wallpaperbat.com/img/455725-clothes-wallpaper.jpg');
              "
            >
              <div class="carousel-container">
                <div class="carousel-content">
                  <h2 class="animate__animated animate__fadeInDown">
                    <span>Des chemises</span>
                  </h2>
                  <p class="animate__animated animate__fadeInUp">
                    Des chemises de différentes couleurs et différentes types (
                    cravate, nœud papillon, pochette de costume, etc.. )
                  </p>
                  <div>
                    <a
                      href=""
                      class="btn-menu animate__animated animate__fadeInUp scrollto"
                      >Consulter</a
                    >
                    <a
                      href=""
                      class="btn-book animate__animated animate__fadeInUp scrollto"
                      >Voir tous</a
                    >
                  </div>
                </div>
              </div>
            </div>

            <div
              class="carousel-item"
              style="
                background-image: url('https://th.bing.com/th/id/R.f8b6666429cea49557dae347dece138a?rik=5ry8BXiqBQvy4Q&riu=http%3a%2f%2f4.bp.blogspot.com%2f-aUb2pKRqzes%2fT0uGlBZZwBI%2fAAAAAAAAC8Q%2fELm9FSpz3U0%2fs1600%2f123456789smiling_faves_4.jpg&ehk=c1sE52jBh5kEhHDpemWyAsJrFfiiZvCPKYpwg7QA%2f2o%3d&risl=&pid=ImgRaw&r=0');
              "
            >
              <div class="carousel-container">
                <div class="carousel-content">
                  <h2 class="animate__animated animate__fadeInDown">
                    <span>Des differentes combinaisons</span>
                  </h2>
                  <p class="animate__animated animate__fadeInUp">
                    vous pouvez choisir des combinaison de base , des
                    combinaison business , des combinaison de luxe et autres
                  </p>
                  <div>
                    <a
                      href=""
                      class="btn-menu animate__animated animate__fadeInUp scrollto"
                      >Consulter</a
                    >
                    <a
                      href=""
                      class="btn-book animate__animated animate__fadeInUp scrollto"
                      >Voir tous</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a
            class="carousel-control-prev"
            href="#heroCarousel"
            role="button"
            data-bs-slide="prev"
          >
            <span
              class="carousel-control-prev-icon bi bi-chevron-left"
              aria-hidden="true"
            ></span>
          </a>

          <a
            class="carousel-control-next"
            href="#heroCarousel"
            role="button"
            data-bs-slide="next"
          >
            <span
              class="carousel-control-next-icon bi bi-chevron-right"
              aria-hidden="true"
            ></span>
          </a>
        </div>
      </div>
    </section>
    <!-- ======= End Hero Section ======= -->

    <!-- ======= Carousel Section 1 ======= -->
    <div class="titleListContainer">
      <h1 class="titlelist">Des pantalons recommandé</h1>
      <div class="detailsList">
        <span>Voir tous</span>
      </div>
    </div>
    <ul
      class="list-group list-group-horizontal position-relative overflow-auto w-90"
    >
      <% for (let i=0;i<5;i++) { %>
      <li class="list-group-item border-0">
        <%- include('components/card',{ i : 0,image :
        "https://th.bing.com/th/id/OIP.6tz_WpcFRSUCH64gZJtgngHaJ4?pid=ImgDet&w=194&h=258&c=7&dpr=1,1"})
        %>
      </li>
      <% } %>
    </ul>
    <!-- ======= End Carousel Section 1 ======= -->

    <!-- ======= Carousel Section 2 ======= -->
    <div class="titleListContainer">
      <h1 class="titlelist">Des chemises recommandé</h1>
      <div class="detailsList">
        <span>Voir tous</span>
      </div>
    </div>
    <ul
      class="list-group list-group-horizontal position-relative overflow-auto w-90"
    >
      <% for (let i=0;i<5;i++) { %>
      <li class="list-group-item border-0">
        <%- include('components/card',{ i : 0 , image :
        "https://th.bing.com/th/id/OIP.2TipB0AaK2_Xj7kTYMStSgHaHa?w=207&h=207&c=7&r=0&o=5&dpr=1.1&pid=1.7"
        }) %>
      </li>
      <% } %>
    </ul>
    <!-- ======= End Carousel Section 2 ======= -->

    <!-- ======= Carousel Section 3 ======= -->
    <div class="titleListContainer">
      <h1 class="titlelist">Des vestes recommandé</h1>
      <div class="detailsList">
        <span>Voir tous</span>
      </div>
    </div>
    <ul
      class="list-group list-group-horizontal position-relative overflow-auto w-90"
    >
      <% for (let i=0;i<5;i++) { %>
      <li class="list-group-item border-0">
        <%- include('components/card',{ i : 0,image :
        "https://th.bing.com/th/id/OIP.Y8N2gq9pO4DTSk5dsZgR2gHaHa?w=215&h=215&c=7&r=0&o=5&dpr=1.1&pid=1.7"})
        %>
      </li>
      <% } %>
    </ul>
    <!-- ======= End Carousel Section 3 ======= -->

    <!-- ======= trending Brands ======= -->
    <%- include('components/trending') %>
    <!-- ======= End trending Brands ======= -->

    <!-- ======= Footer ======= -->
    <%- include('components/footer') %>
    <!-- ======= End Footer ======= -->

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
